{% extends 'base.html.twig' %}

{% block body %}
    <h1>Historikoa</h1>

    <table class="table table-striped table-striped table-hover">
        <thead>
            <tr>
                <th>Onartze Data</th>
                <th>B.O.G. Argitaratze Data</th>
                <th>Aldaketak</th>
                <th>Fitxategia</th>
            </tr>
        </thead>
        <tbody>
        {% for historikoa in historikoas %}
            <tr>
                <td>{% if historikoa.onartzedata %}{{ historikoa.onartzedata|date('Y/m/d') }}{% endif %}</td>
                <td>{% if historikoa.bogargitaratzedata %}{{ historikoa.bogargitaratzedata|date('Y/m/d') }}{% endif %}</td>
                <td>{{ historikoa.aldaketakeu |raw}}</td>
                <td><a href="{{ "/doc/" ~ app.user.udala.kodea ~ "/" ~ historikoa.fitxategia }}">PDF</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
