
    <div style="margin: auto;">
            <table  border="0"  cellpadding="8" cellspacing="3" align="center" >
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th align="center" style="background-color: #C6C6C6"><h1>{{ eguna }}ko ZERGA ORDENANTZAK</h1></th>
                    </tr>
                    <tr>
                        <th align="center" style="background-color: #fff">
                            <img src="{{ udala.logoa }}"/>
                            <h3 style="text-align:center">{{ udala.izendapenaeu }}</h3>
                        </th>
                    </tr>
                    <tr>
                        <th align="center" style="background-color: #C6C6C6"><h1>ORDENANZAS FISCALES {{ eguna }}</h1></th>
                    </tr>
                </tbody>
            </table>
    </div>

