{% extends 'base.html.twig' %}

{% block body %}
    <div class="containermenua">
        {% for ordenantza in ordenantzas %}

            <a href="{{ path('admin_ordenantza_show', {'id': ordenantza.id}) }}" class="menuordenantza">
                <div>
                    {{ ordenantza.kodea }} - {{ ordenantza.izenburuaeu }}
                </div>
            </a>

        {% endfor %}
    </div>

{% endblock %}
